<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <div th:if="${principal}" th:replace="fragments/fragments :: header"></div>
</header>
<body>
    <br>
    <h3>Your Activity Feed!</h3>
    <br>
    <br>

    <table>
        <tr>
            <th>Time Stamp:</th>
            <th>Username:</th>
            <th>Message:</th>
        </tr>
        <tr th:if="${followers}" th:each="message : ${followers}">
            <td th:text="${message.timeStamp}"></td>
            <td th:text="${message.username}"></td>
            <td th:text="${message.message}"></td>

        </tr>


    </table>
</body>
</html>