<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Garhett's Talk Channel</title>
</head>
<header>
    <div th:if="${principal}" th:replace="fragments/fragments :: header"></div>
</header>
<body>
    <h1>Talk here my People!</h1>

    <br>
    <form th:if="${users}" action="/follower" method="post">
        <input type="hidden" name="username">
        <label for="drop">
            <select name="drop" id="drop">
                <option th:each="user : ${users}" th:if="${principal.getName() != user.username}" th:text="${user.username}"></option>
            </select>
        </label>
        <input type="submit">
    </form>
    <br>

    <h4>Use the field below to make a post.</h4>

    <form action="/message" method="post">
        <input type="text" name="message">
        <input type="submit" value="Holla At ME">
    </form>
    <br>
    <br>
    <table>
        <tr>
            <th>Time Stamp:</th>
            <th>Username:</th>
            <th>Message:</th>
        </tr>
        <tr th:if="${messages}" th:each="message : ${messages}">
            <td th:text="${message.timeStamp}"></td>
            <td th:text="${message.username}"></td>
            <td th:text="${message.message}"></td>

        </tr>


    </table>
</body>
</html>