<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<header>
    <h1>Fill out the form below so that we can know everything there is to know about you.</h1>
</header>
<body>
    <form action="/signup" method="post">
        <h5>Please enter user name and password below</h5>
        <br>
        User Name <input type="text" name="username">
        Password <input type="text" name="password">
        <br>
        <h5>Below is some important data we need from you.</h5>
        <br>
        First Name <input type="text" name="firstName">
        Last Name <input type="text" name="lastName">
        SS <input type="number" name="socialSecurity">
        DOB <input type="number" name="dob" value="02231986">
        Bio <input type="text" name="bio">
        <br>
        <input type="submit">
    </form>
</body>
</html>